<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}phpRedExpert{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comfortaa:700|Source+Sans+Pro:300,400,600,300italic,400italic,600italic">
        {% stylesheets
            'bundles/eugefphpredexpertangular/vendor/bootstrap-css/bootstrap.css' 
            'bundles/eugefphpredexpertangular/adminlte/css/*' 
            'bundles/eugefphpredexpertangular/css/application.css'
            filter='cssrewrite'
            output='css/main.css'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        <script>
            var CONFIG = {
                apiUri : '{{ app.request.baseUrl ~ '/api/' }}',
                assetsUri : '{{ asset('bundles/eugefphpredexpertangular/') }}',
                cache: true,
                debug: {{ app.debug ? 'true' : 'false' }}
            };
        </script>
    </head>
    <body ng-app="myApp" ng-controller="AppController" class="skin-black">
        {% block content %}{% endblock %}
        {% javascripts 
            'bundles/eugefphpredexpertangular/vendor/angularjs/angular.js'
            'bundles/eugefphpredexpertangular/vendor/angularjs/angular-route.js'
            'bundles/eugefphpredexpertangular/vendor/angular-cache/src/angular-cache.js'
            'bundles/eugefphpredexpertangular/vendor/angular-bootstrap/ui-bootstrap-tpls.js'
            'bundles/eugefphpredexpertangular/vendor/angular-ui-utils-unique/unique.js'
            'bundles/eugefphpredexpertangular/js/*'
            'bundles/eugefphpredexpertangular/js/*/*'
            output='js/main.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>